/*General Button Style*/

.button{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3) var(--spacing-6);

  color: var(--gray-31);

  font-family: "Inknut Antiqua";

  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;

  border: 1px solid var(--gray-28);
  border-radius: var(--spacing-7);

  transition: all 0.25s ease-in-out;

  user-select: none;

  &:hover{
    color: var(--gray-0);

    background-color: var(--gray-28);
  }

  &:focus{
    outline: none;
  }

  &.danger{
    color: var(--danger-5);

    border-color: var(--danger-5);

    &:hover{
      color: var(--gray-0);

      background-color: var(--danger-5);
    }
  }
}
