:root{
  --pcolor-0: #160d02;
  --pcolor-1: #442707;
  --pcolor-2: #72420c;
  --pcolor-3: #a05c11;
  --pcolor-4: #ce7716;
  --pcolor-5: #e89130;
  --pcolor-6: #eda95e;
  --pcolor-7: #f2c18c;
  --pcolor-8: #f7daba;
  --pcolor-9: #fcf2e8;
  --pcolor-0-tri: 22, 13, 2;
  --pcolor-1-tri: 68, 39, 7;
  --pcolor-2-tri: 114, 66, 12;
  --pcolor-3-tri: 160, 92, 17;
  --pcolor-4-tri: 206, 119, 22;
  --pcolor-5-tri: 232, 145, 48;
  --pcolor-6-tri: 237, 169, 94;
  --pcolor-7-tri: 242, 193, 140;
  --pcolor-8-tri: 247, 218, 186;
  --pcolor-9-tri: 252, 242, 232;

  --scolor-0: #051602;
  --scolor-1: #114407;
  --scolor-2: #1c720c;
  --scolor-3: #28a011;
  --scolor-4: #34ce16;
  --scolor-5: #4de830;
  --scolor-6: #75ed5e;
  --scolor-7: #9cf28c;
  --scolor-8: #c3f7ba;
  --scolor-9: #ebfce8;
  --scolor-0-tri: 5, 22, 2;
  --scolor-1-tri: 17, 68, 7;
  --scolor-2-tri: 28, 114, 12;
  --scolor-3-tri: 40, 160, 17;
  --scolor-4-tri: 52, 206, 22;
  --scolor-5-tri: 77, 232, 48;
  --scolor-6-tri: 117, 237, 94;
  --scolor-7-tri: 156, 242, 140;
  --scolor-8-tri: 195, 247, 186;
  --scolor-9-tri: 235, 252, 232;

  --tcolor-0: #021614;
  --tcolor-1: #07443e;
  --tcolor-2: #0c7267;
  --tcolor-3: #11a091;
  --tcolor-4: #16ceba;
  --tcolor-5: #30e8d4;
  --tcolor-6: #5eeddd;
  --tcolor-7: #8cf2e7;
  --tcolor-8: #baf7f0;
  --tcolor-9: #e8fcfa;
  --tcolor-0-tri: 2, 22, 20;
  --tcolor-1-tri: 7, 68, 62;
  --tcolor-2-tri: 12, 114, 103;
  --tcolor-3-tri: 17, 160, 145;
  --tcolor-4-tri: 22, 206, 186;
  --tcolor-5-tri: 48, 232, 212;
  --tcolor-6-tri: 94, 237, 221;
  --tcolor-7-tri: 140, 242, 231;
  --tcolor-8-tri: 186, 247, 240;
  --tcolor-9-tri: 232, 252, 250;

  --danger-0: #160202;
  --danger-1: #440707;
  --danger-2: #720c0c;
  --danger-3: #a01111;
  --danger-4: #ce1616;
  --danger-5: #e83030;
  --danger-6: #ed5e5e;
  --danger-7: #f28c8c;
  --danger-8: #f7baba;
  --danger-9: #fce8e8;
  --danger-0-tri: 22, 2, 2;
  --danger-1-tri: 68, 7, 7;
  --danger-2-tri: 114, 12, 12;
  --danger-3-tri: 160, 17, 17;
  --danger-4-tri: 206, 22, 22;
  --danger-5-tri: 232, 48, 48;
  --danger-6-tri: 237, 94, 94;
  --danger-7-tri: 242, 140, 140;
  --danger-8-tri: 247, 186, 186;
  --danger-9-tri: 252, 232, 232;


  ​--alpha-0: 0;
  --alpha-1: 0.05;
  --alpha-2: 0.07;
  --alpha-3: 0.08;
  --alpha-4: 0.09;
  --alpha-5: 0.11;
  --alpha-6: 0.12;
  --alpha-7: 0.14;
  --alpha-8: 0.15;
  --alpha-9: 0.16;

  --gray-0: #000000;
  --gray-1: #080808;
  --gray-2: #0f0f0f;
  --gray-3: #171717;
  --gray-4: #212121;
  --gray-5: #292929;
  --gray-6: #303030;
  --gray-7: #383838;
  --gray-8: #424242;
  --gray-9: #4a4a4a;
  --gray-10: #525252;
  --gray-11: #595959;
  --gray-12: #636363;
  --gray-13: #6b6b6b;
  --gray-14: #737373;
  --gray-15: #7a7a7a;
  --gray-16: #858585;
  --gray-17: #8c8c8c;
  --gray-18: #949494;
  --gray-19: #9c9c9c;
  --gray-20: #a6a6a6;
  --gray-21: #adadad;
  --gray-22: #b5b5b5;
  --gray-23: #bdbdbd;
  --gray-24: #c7c7c7;
  --gray-25: #cfcfcf;
  --gray-26: #d6d6d6;
  --gray-27: #dedede;
  --gray-28: #e8e8e8;
  --gray-29: #f0f0f0;
  --gray-30: #f7f7f7;
  --gray-31: #ffffff;

  --bg-0: #121212;
  --bg-1: #1d1d1d;
  --bg-2: #222222;
  --bg-3: #242424;
  --bg-4: #272727;
  --bg-5: #2c2c2c;
  --bg-6: #2d2d2d;
  --bg-7: #323232;
  --bg-8: #353535;
  --bg-9: #373737;

  --spacing-1: 0.146rem;
  --spacing-2: 0.236rem;
  --spacing-3: 0.382rem;
  --spacing-4: 0.618rem;
  --spacing-5: 1rem;
  --spacing-6: 1.618rem;
  --spacing-7: 2.618rem;
  --spacing-8: 4.235rem;
  --spacing-9: 6.854rem;

  --font-size-0: 0.625rem;
  --font-size-1: 0.8125rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.625rem;
  --font-size-5: 2.0625rem;
  --font-size-6: 2.625rem;
  --font-size-7: 4.226rem;
  --font-size-8: 6.804rem;
  --font-size-9: 10.95rem;

  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-1-hover: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --primary-font: "Alegreya Sans";
  --secondary-font: "Barlow Condensed";
}
