.matchmaker{
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: center;

  .lobbies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    margin: var(--spacing-4);

    background-color: #000000dd;
    border: 25px solid var(--gray-31);
    border-image: url("../../svg/borders/bars-1.svg");
    border-image-slice: 20;
    border-image-repeat: round;

    .lobby-table{
      display: flex;
      flex-direction: column;
    }
  }

  h1{
    font-size: var(--font-size-4);
    text-transform: uppercase;

    border-bottom: 3px solid var(--gray-30);
  }

  .button-row{
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-6);
  }

  .lobby-row{
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-4);

    font-weight: bold;

    cursor: pointer;

    &:hover{
      color: var(--gray-0);

      background-color: var(--gray-28);
      filter: brightness(150%);
    }
  }

  .lobby-row:first-child{
    background: transparent;
    border: none;
    cursor: initial;

    &:hover{
      color: inherit;
    }
  }

  .lobby-name{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: var(--spacing-8);
  }

  .lobby-players{
    display: flex;
    justify-content: center;
    width: 4rem;
  }

  .lobby + .lobby{
    margin-top: var(--spacing-4);
  }
}
