.ingame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(18, 2.5rem);
  grid-template-rows: repeat(18, 2.5rem);

  .cell {
    background-color: #1d0f02;
    background-size: cover;
    position: relative;

    &:before {
      content: "";
      border-bottom: 1px solid white;
      width: 100%;
      position: absolute;
      top: 50%;
    }

    &:after {
      content: "";
      border-left: 1px solid white;
      height: 100%;
      position: absolute;
      left: 50%;
    }
  }
}
