.home{
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  background-image: url("/images/wallpaper.jpg");
  background-position: center;
  background-size: cover;

  .menu{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding: 0 var(--spacing-6) var(--spacing-8) var(--spacing-6);

    background-color: #100d09;
    background-image: url("../../svg/textures/fabric.svg");
    background-repeat: repeat;
    border-right: 15px solid white;

    border-left: 15px solid white;
    border-image: url("../../svg/borders/chain-border.svg");
    border-image-slice: 11 11 11 11;
    border-image-repeat: round;

    h1{
      margin: 0;

      font-weight: 900;
      font-size: var(--font-size-7);
      font-family: "Cinzel Decorative";
      line-height: 1em;
    }

    nav{
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .button + .button{
      margin-top: var(--spacing-4);
    }
  }

  .settings{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: var(--spacing-6);

    .content{

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: var(--spacing-5);

      background-color: #000000ec;
      border: 1px solid var(--gray-30);

      nav{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
