.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  h1 {
    text-transform: uppercase;
  }

  .button {
    margin-bottom: var(--spacing-6);
  }
}
